.button {
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  background: rgb(177, 0, 139);
  border-radius: 3px;
  color: #fff;
  max-width: 200px;
  width: max-content;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}